# --- .NET Ignore ---
bin/
obj/
*.user
*.suo
.vs/
.vscode/

# --- Angular Ignore ---
node_modules/
dist/
.angular/
.nx/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- OS/Env Ignore ---
.env
.DS_Store
Thumbs.db